.Moviesearch
{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}
.searchbutton
{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}
.moviename
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px
}
.movieposter
{
    width:400px ;
    height: 500px;
}
.moviedetails
{
    font-size: 20px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}